<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuickLookPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Transmission.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>dht.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>event.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>libtransmission.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>miniupnp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>natpmp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>transmission-daemon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>transmission-remote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>transmissioncli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>utp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C7A118C0D0B2EB800B5701F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D18389609DEC0030047D688</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DDBB71809E16BAE00284745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1107260486CEB800E47090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A22CFCB90FC24F710009BD3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2E384CD130DFB1D001F501B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2F35BB815C5A0A100EBF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE1183470CE160960002D0F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE75C3480C729E9500DBEFE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEFC1BFF0C07750000B0BB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEFC1CEA0C07822400B0BB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
